/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #343a40;
  }
  
  input {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    cursor: pointer;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
